<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app uses Bluetooth to connect to your ESP32.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app uses Bluetooth to connect to your ESP32.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Needed to discover and connect to your ESP32 on the local network.</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_mqtt._tcp.</string>
	</array>
</dict>
</plist>
